<div  #highchart></div>
<!--canvas Tool Code Start-->
<div>
  <button id="rectangleTool" class="bg-success btn btn-sm font-color-white position-fixed right-side-200-px top-side-50-px">Rectangle</button>
</div>
<!--canvas Tool Code End-->
<div id="canvas" class="canvas1">
  <img crossorigin="anonymous" src="https://s3.ap-south-1.amazonaws.com/1234567890image/image/300+x+300+px.png.png"  alt="No Img access">
</div>
<div class="text-center">
  <button class="btn btn-primary btn-lg" (click)="takeScreenshot();drawStart();">Screenshot</button>

</div><div>
  <img src="{{imgSrc}}" alt="PLz Press the screenshot button">
</div>

<!--<div appSampleDirective>Look....My Color is Skyblue Now...</div>
<input type="text" ngModel appInputValueDirective value="b">-->
